<div class="users">

  <div class="edit-user-form popup" [class.user-form-visible]="EditUserPopup">
    <div class="edit-user-form-subcontainer">
      <h3>Edit User:</h3>
      <label for="user-form-first-name">First Name: </label>
      <input id="user-form-first-name" type="text" [(ngModel)]="popupUserObject.firstName">
      
      <label for="user-form-last-name">Last Name: </label>
      <input id="user-form-last-name" type="text" [(ngModel)]="popupUserObject.lastName">
      
      <label for="user-form-title">Title: </label>
      <input id="user-form-title" type="text" [(ngModel)]="popupUserObject.title">
      
      <label for="user-form-contacts">Number of Contacts: </label>
      <input id="user-form-contacts" type="text" [(ngModel)]="popupUserObject.contactNum">
      
      <label for="user-form-rate">You Know Them?: </label>
      <input id="user-form-rate" type="checkbox" [(ngModel)]="popupUserObject.rated">
      
      <label for="user-form-quote">Quote: </label>
      <input id="user-form-quote" type="text" [(ngModel)]="popupUserObject.quote">
      <label for="user-form-secret">Secret: </label>
      <input id="user-form-secret" type="text" [(ngModel)]="popupUserObject.secret">
      <label for="user-form-symbol">Symbol: </label>
      <input id="user-form-symbol" type="text" [(ngModel)]="popupUserObject.symbol">
      <label for="user-form-symbol-color">Symbol Color: </label>
      <input id="user-form-symbol-color" type="text" [(ngModel)]="popupUserObject.symbolColor">
      <label for="user-form-card-color">Card Color: </label>
      <input id="user-form-card-color" type="text" [(ngModel)]="popupUserObject.cardColor">
      <label for="user-form-text-color">Text Color: </label>
      <input id="user-form-text-color" type="text" [(ngModel)]="popupUserObject.textColor">
      <label for="user-form-symbol-background-color">Symbol Background Color: </label>
      <input id="user-form-symbol-background-color" type="text" [(ngModel)]="popupUserObject.symbolBackgroundColor">

      <div class="user-form-buttons">
          <input id="user-form-delete" type="button" (click)="deleteUser(popupUserObject.sourceUser.id)" value="Delete">
          <input id="user-form-enter" type="button" (click)="updateUsers(popupUserObject)" value="Enter">
          <input id="user-form-cancel" type="button" (click)="cancelUserPopup()" value="Cancel">
      </div>
    </div>
  </div>

  <div class="card-container">
    <div class="card" *ngFor="let user of users" (click) = "toggleEditUserPopup(user)" style="background-color: {{user.cardColor}};">
      <div class="inner-card">
        <div class="card-top">
          <div class="user-symbol-container">
            <div class="user-symbol" style="background-color: {{user.symbolBackgroundColor}};">
              <h2 style="color:{{user.symbolColor}};">
                {{user.symbol}}
              </h2>
            </div>
          </div>
          <div class="user-bio">
            <div>
              <h3 style="color: {{user.textColor}};"> {{user.firstName}} {{user.lastName}} </h3>
              <p style="color: {{user.textColor}};"> Title: {{user.title}} </p>
                <p style="color: {{user.textColor}};"> # Contacts: {{user.contactNum}}</p>
            </div>
          </div>
        </div>
        <div class="user-about">
          <div>
            <p style="color: {{user.textColor}}; text-align: center;">Quote: "{{user.quote}}"</p>
            <p style="color: {{user.textColor}}; text-align: center;">{{user.secret}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="refresh-users-button-container">
    <div class="refresh-users-button" (click) = "cancelUserPopup();getUsers();">
    </div>
    <div class="refresh-users-button-text-container" (click) = "cancelUserPopup();getUsers();">
      <div class="refresh-users-button-text" (click) = "cancelUserPopup();getUsers();">
        Refresh Users
      </div>
    </div>
  </div>

  <div class="new-user-button-container">
    <div class="new-user-button" (click) = "toggleNewUserPopup()">
    </div>
    <div class="new-user-button-text-container" (click) = "toggleNewUserPopup()">
      <div class="new-user-button-text" (click) = "toggleNewUserPopup()">
        Add A new user
      </div>
    </div>
  </div>

  
  <div class="new-user-form popup" [class.user-form-visible]="NewUserPopup">
    <div class="new-user-form-subcontainer">
      <h3>Create User:</h3>
      <label for="user-form-first-name">First Name: </label>
      <input id="user-form-first-name" type="text" [(ngModel)]="popupUserObject.firstName">
      
      <label for="user-form-last-name">Last Name: </label>
      <input id="user-form-last-name" type="text" [(ngModel)]="popupUserObject.lastName">
      
      <label for="user-form-title">Title: </label>
      <input id="user-form-title" type="text" [(ngModel)]="popupUserObject.title">
      
      <label for="user-form-quote">Quote: </label>
      <input id="user-form-quote" type="text" [(ngModel)]="popupUserObject.quote">
      <label for="user-form-secret">Secret: </label>
      <input id="user-form-secret" type="text" [(ngModel)]="popupUserObject.secret">
      <label for="user-form-symbol">Symbol: </label>
      <input id="user-form-symbol" type="text" [(ngModel)]="popupUserObject.symbol">
      <label for="user-form-symbol-color">Symbol Color: </label>
      <input id="user-form-symbol-color" type="text" [(ngModel)]="popupUserObject.symbolColor">
      <label for="user-form-card-color">Card Color: </label>
      <input id="user-form-card-color" type="text" [(ngModel)]="popupUserObject.cardColor">
      <label for="user-form-text-color">Text Color: </label>
      <input id="user-form-text-color" type="text" [(ngModel)]="popupUserObject.textColor">
      <label for="user-form-symbol-background-color">Symbol Background Color: </label>
      <input id="user-form-symbol-background-color" type="text" [(ngModel)]="popupUserObject.symbolBackgroundColor">

      <label for="user-form-password">Password: </label>
      <input id="user-form-password" type="text" [(ngModel)]="popupUserObject.password">

      <div class="user-form-buttons">
          <input id="user-form-enter" type="button" (click)="addUser(popupUserObject)" value="Enter">
          <input id="user-form-cancel" type="button" (click)="cancelUserPopup()" value="Cancel">
      </div>
    </div>
  </div>

</div>

<div class="seperator"></div>

<footer class="user-footer">
    <div> Created by CT!&nbsp; </div>
</footer>