<div class="toolbar">
  <div class = "tabs">
    <div class="tab-container" routerLink="/users-component" routerLinkActive="active">
      <div class="tab">
        Users
      </div>
    </div>
    <div class="tab-container" routerLink="/titles-component" routerLinkActive="active">
      <div class="tab">
        Titles
      </div>
     </div>
    <div class="tab-container" routerLink="/themes-component" routerLinkActive="active">
      <div class="tab">
        Themes
      </div>
    </div>
  </div>
  <div class="search-container">
    <div class="search-container2">
      <div>
        Search
      </div>
      <div>
        Q
      </div>
    </div>
  </div>
  <div class="login-container">
    <div class="login-container2">
      <div class="login-adimn">Login</div>
      <div>
        E
      </div>
    </div>
  </div>
</div>
  
  